@import "mocha.css"; 

* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.1s;
} 

#workspaces {
    background-color: @base;
    padding: 0 20px;
    margin-left: 15px;
}

button:hover{
    color: @lavender;
}
#workspaces button {
    padding: 0 6px;
    color: @surface0;
}

#workspaces button.active {
    color: @lavender;
}

#window {
    background-color: @base;
    opacity: 0.5;
    margin-left: 30px;
    padding: 0 20px;
}
#clock {
    color: @lavender;
    background-color: @base;
    padding: 0 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.modules-right {
    background-color: @base;
    margin-right: 15px;
    padding: 0 20px;
}

#language {
    color: @peach;
    padding: 0 15px;
}
#pulseaudio{
    color: @green;
    padding: 0 15px;
}

#bluetooth{
    color: @sky;
    padding: 0 15px;
}

#cpu{
    color: @red;
    padding: 0 15px;
}

#temperature {
    color: @blue;
    padding: 0 15px;
}

